/* Style de base pour le bouton */
.custom-button {
  margin: 10px auto;
  margin-top: 30px;
  display: block;
  padding: 10px 20px;
  background-color: #C70039 !important;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* Style au survol du bouton */
.custom-button:hover {
  background-color: #141E46 !important;
}
