.colorButton {
    background-color: #C70039 !important;
    color: #ffffff !important;
  }
  
  .colorButton:hover {
    background-color: #141E46 !important;
  }

.groupButton {
    display: flex;
    margin-right: 3%;
    justify-content: flex-end;
}

.english {
    background-color: #4169e1 !important;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;  
}

.english:hover {
    background-color: #e2d9c6 !important;
}

.french {
    background-color: #d8eff0 !important;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.french:hover {
    background-color: #e2d9c6 !important;
}

.italian {
    background-color: #d70d0d !important;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.italian:hover {
    background-color: #e2d9c6 !important;
}