.customText {
    font-size: 20px;
    color: #141E46;
    text-align: left;
    margin-top: 3%;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.customText p {
    margin-top: 1%;
    margin-bottom: 10px;
}