  
  .text-editor {
    width: 100px;
    height: 20px;
    padding: 10px;
    border: 1px solid #54708d;
    border-radius: 5px;
    font-size: 16px;
    position: left;
    outline: none;
    resize: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }


  .text-editor::placeholder {
    color: #54708d;
  }
  