.banner {
    max-width: 100%;
    max-height: 20vh;
}

.picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-top: -15vh;
    border: 2px solid #ffffff; 
}