.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.container {
    width: 85%;
    height: 90vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;

    padding: 20px;
    box-sizing: border-box;
    background-color: #FFF5E0;
    border-radius: 10px;
}

.title {
    margin-bottom: 30px;
    align-items: grid;
    color: #141E46;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.radio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
}


.customButton {
    margin: 5px ;
    margin-top: 30px;
    display: block;
    padding: 10px 20px;
    background-color: #D2B48C !important;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

  /* Style au survol du bouton */
.customButton:hover {
    background-color: #cec6b5 !important;
}