/* navbar.css */
.navbar {
    background-color: #FF6969; /* Couleur de fond de la barre de navigation */
  }
  
  .navbar-container {
    display: flex; /* Utilise Flexbox pour aligner les éléments horizontalement */
    justify-content: space-between; /* Éspacez les éléments pour qu'ils soient répartis sur toute la largeur */
    align-items: center; /* Centrez verticalement les éléments dans la barre de navigation */
    max-width: 1200px; /* Définissez une largeur maximale pour le contenu de la barre de navigation */
    margin: 0 auto; /* Centrez horizontalement la barre de navigation */
    padding: 0 20px; /* Espacement intérieur horizontal de la barre de navigation */
  }
  
  .logo {
    font-size: 24px; /* Taille de la police du logo */
  }
  
  .nav-links {
    list-style: none; /* Supprimez les puces de la liste des liens de navigation */
    display: flex; /* Utilisez Flexbox pour aligner les liens horizontalement */
    /* margin-right: ; */
  }
  
  .nav-item {
    color: #fff;
    margin-right: 20px; /* Espacement entre les éléments de navigation */
  }
  
  .nav-item:last-child {
    margin-right: 20px; /* Supprimez la marge à droite du dernier élément */
  }
  
  .nav-link {
    text-decoration: none; /* Supprimez la soulignement par défaut des liens */
    color: #fff; /* Couleur du texte des liens */
    font-size: 16px; /* Taille de la police des liens */
  }
  
  .nav-link:hover {
    text-decoration: underline; /* Soulignez les liens au survol */
  }
  
  .nav-link {
    text-decoration: none; /* Supprimez la soulignement par défaut des liens */
    color: #fff; /* Couleur du texte en blanc */
    font-size: 16px; /* Taille de la police des liens */
  }

  .nav-link:hover {
    text-decoration: underline; /* Soulignez les liens au survol */
  }
  

  .logo-image {
    width: 200px; /* Réglez la largeur de votre logo */
    height: auto; /* Ajustez la hauteur pour maintenir les proportions */
  }
  .hello-world {
    font-size: 24px; /* Taille de police plus grande (ajustez selon vos préférences) */
    color: #ffffff; /* Couleur du texte (personnalisez selon votre design) */
    margin-top: 10px; /* Espace au-dessus du texte (ajustez selon votre mise en page) */
    text-align: center; /* Centre le texte horizontalement */
  }