.colomn {
    height: auto;
    min-height: 500px;
    background-color: white;
    border: 1px solid #333;
    /* padding: flex; */
    border-radius: 50px;
    padding-top: 10px;
}

.treeComponentsContainer > * {
    flex: 1; /* Les composants auront une largeur égale et occuperont tout l'espace disponible */
    margin-right: 10px; /* Espacement entre les composants (ajustez selon vos besoins) */
  }