
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gradientBackground {
  /* background: linear-gradient(to bottom, #ffffff, #f0750a); */
  background: #FFF5E0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: auto;
  min-height: 100vh
}


.customHeading {
  font-size: 24px; 
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 3%;
}
