.headlines {
    font-family: 'Geneva';
    font-size: 44px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10px;
    font-weight: bold;
    color:#C70039
  }
  
  .subtitles {
    color:#C70039;
    margin-left: 10px;
    font-family: 'Geneva';
    font-size: 24px;
    font-weight: bold;
  }
  
  .text {
    margin-top: 2%;
    color:#141E46;
    margin-left: 10px;
    font-family: 'Geneva';
    font-size: 20px;
  }
  
  .textSmall {
    margin-left: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Geneva';
    font-size: 8px;
  }
  